<footer id="footer" class="alpha omega sixteen columns" data-hook>
  <nav id="footer-nav">
    <ul>
      <li><b>&copy; <%= Time.now.year %> Kat's Lounge</b></li>
      <li><%= link_to 'Legal notice', refinery.url_for(Refinery::Page.find('terms-conditions')) %></li>
      <li><%= link_to 'Privacy policy', refinery.url_for(Refinery::Page.find('privacy-policy')) %></li>
      <li><%= render "/refinery/blog/shared/rss_feed" %></li>
      <li><%= user_sign_in_link %></li>
    </ul>
  </nav>
</footer>